@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--off-white);
  font-size: 15px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

nav > ul{
  display: flex;
  list-style: none;
  column-gap: 20px;
}

.nav-link {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--dark-grayish-blue);
}